.upcom {
  display: flex;
  color: white;
  border-bottom: 1px solid white;
  justify-content: space-between;
  padding: 20px;
  div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .WhiteLink {
      color: white;
    }
  }
}
