@font-face {
  font-family: Roboto-Regular;
  src: url(../../Assest/Roboto-Regular.ttf);
}
.MainC {
  display: flex;
  align-items: center;
  flex-direction: column; /* Center vertically */
  height: calc(100vh - 90px);
 
  h1 {
    margin-top: 150px;
    font-size: 30px;
  } /* Adjust height for remaining viewport */
}

.MainC article {
  display: flex;
  align-items: center;
  flex-direction: column;
}

Form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  height: 400px;
  margin-top: 130px;
  #Message {
    height: 100px;
  }
  #Message::placeholder {
    text-align: left;
    padding-top: 0;
  }
  input {
    width: 300px;
    height: 30px;
    padding: 20px;
    background-color: rgba($color: #fff, $alpha: 0.6);
    border-radius: 5px;
    border: 1px solid #25841c;
  }
  button {
    width: 220px;
    height: 30px;
    border-radius: 5px;
  }
}
