@font-face {
  font-family: Roboto-Light;
  src: url(./Assest/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
h1 {
  margin-top: 150px;
}
.top {
  height: 90px;
  width: 100%;
  border-bottom: 1px solid green;
  display: flex;
  align-items: center;
  font-size: 30px;
  padding: 5px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: white;
  color: black;
  .icon {
    color: black;
  }
}

.button {
  width: 320px;
  height: 50px;
  padding: 20px;
  border: none;
  background-color: #25841C;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  font-family: Roboto-Light;
  position: fixed;
  bottom: 90px;
  font-size: 20px;
  text-decoration:none;
  
}
