* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backRound {
  position: absolute;
  height: 100vh;
  background-image: url("./Assest/Picture/Rectangle25.png");
  /* Add other background properties as needed */
  background-size: contain;
  background-position: center;
  /* Adjust other styles as needed */
}
