* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top {
  height: 90px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  font-size: 30px;
  padding: 5px;
}
.backRound {
  position: fixed;
  bottom: 0;
  z-index: -2;
  width: 100%;
  height: 50vh; /* Adjust this value as needed */

  background-image: url("./Assest/Picture/Rectangle25.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Add other background properties as needed */
}
