@font-face {
  font-family: Roboto-Regular;
  src: url(../../Assest/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(../../Assest/Roboto-Light.ttf);
}
.PolicyMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  p {
    font-size: 20px;
    width: 300px;
    text-align: center;
    margin-top: 50px;
    font-family: "Roboto-Light";
  }
}

h1 {
  margin-top: 190px;
  font-size: 40px;
  font-family: "Roboto-Regular";
}
