.Welcome {
  display: flex;

  flex-direction: column;
  align-items: center;
  text-align: center;
  h1 {
    font-size: 45px;
    margin-top: 150px;
    margin-bottom: 50px;
  }

  .madeLogin {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    height: 111px;
    margin-top: 240px;
    bottom: 80px;
    .create {
      color: black;
      padding: 5px;
      margin-left: auto;
    }
    .link {
      width: 300px;
      display: flex;
      align-items: center;

      background-color: #25841c;
      text-decoration: none;
      color: white;
      font-size: 16px;
      padding: 7px 45px 7px 35px;
      border-radius: 5px;
      margin-top: 15px;
      .icon {
        font-size: 30px;
        margin-right: auto;
      }
    }
  }
}
