@font-face {
  font-family: Roboto-Regular;
  src: url(../../Assest/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-aLight;
  src: url(../../Assest/Roboto-Light.ttf);
}
.Welcome {
  display: flex;

  flex-direction: column;
  align-items: center;
  text-align: center;
  h1 {
    font-size: 45px;
    margin-top: 150px;
    margin-bottom: 50px;
    font-family: Roboto-Regular;
  }
  #text-welcome {
    font-size: 20px;
    font-family:"Roboto-Light";
  }
  .madeLogin {
    display: flex;
    justify-content: center;
    flex-direction: column;

    text-align: start;
    height: 111px;
    margin-top: 190px;
    .create {
      color: black;
      padding: 5px;
      margin-left:190px;
    }
    .link {
      width: 300px;
      display: flex;
      align-items: center;
      background-color: green;
      text-decoration: none;
      color: white;
      font-family: Roboto-Light;
      font-size: 16px;
      padding: 7px 15px 7px 15px;
      border-radius: 5px;
      margin-top: 15px;
      .icon {
        margin-right: 10px;
        font-size: 30px;
      }
    }
  }
}
