@font-face {
  font-family: Roboto-Regular;
  src: url(../../Assest/Roboto-Regular.ttf);
}
.mapForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 140px;
  right: 50%;
  left: 50%;
  margin-bottom: 15px;
   
  input  {
    background-color: white;
    margin-bottom: 8px;
  }
  h3 { 
    font-family:"Roboto-Regular";
    text-align: center;
  }
  .arrowicon{
     right: 5px;
     position: absolute;
     font-size: 30px;
     top: 35px;
     background-color: green;
     color: white;
     border-radius: 99px;
     padding: 5px;
 }
 .input{
     position: relative;

  
 }
#maptypo {
    justify-content: center;
    gap: 5px;
    background-color: white;
    height: 200px;
    padding: 10px 20px;
    border-radius: 9px;
    z-index: 0;
  }
}
